@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body {
  background-color: #010e2c;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
}

.text-transparent {
  color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

select {
  outline: none;
}
